<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Componente de visualização de reservas de salas</h2>
    <div class="container">
      <% docs.forEach(function(room){ %>
        <div class="linha">
          <div class="numero"><%= room.numero %></div>
          <div class="materia"><%= room.materia %></div>
          <div class="professor"><%= room.professor %></div>
          <div class="data"><%= room.data %></div>
        </div>
      <% }) %>
    </div>
  </body>
</html>
