body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container{
  height: 400px;
  background-color: red;
  width: 100%;

}

.linha{
  font-size: 13px;
  height: 15%;
  width: 100%;
  border-width: 2px;
  border-style: solid;
}

.numero{
  font-size: 13px;
  height: 100%;
  width: 20%;
  background-color: blueviolet;
  float: left;
}

.materia{
  font-size: 13px;
  height: 100%;
  width: 30%;
  background-color: chartreuse;
  float: left;
}

.professor{
  font-size: 13px;
  height: 100%;
  width: 30%;
  background-color: darkorange;
  float: left;
}

.data{
  font-size: 13px;
  height: 100%;
  width: 20%;
  background-color: fuchsia;
  float: left;
}